* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" "sans-serif";
  color: #1e2b3d;
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  padding: 50px 35px;
  border-radius: 2rem;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  text-align: center;
}

.search {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  width: 100%;
  border: 0;
  outline: 0;
  /* background-color: #1e2b3d; */
  background-repeat: 50%;
  height: 60px;
  padding: 10px 25px;
  flex: 1;
  /* border-radius: 5rem; */
  font: 1.3rem bolder;
  color: rgb(196, 208, 233);
}

.search ::placeholder {
  color: #6f6b7c;
}

.search{
  border-color: none;
}

button {
  border: none;
  background-color: #1e2b3d;
  margin: 1em;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.8em 0.9em;
}

button .search-icon {
  width: 36px;
  height: 36px;
}

button:hover {
  background: #0e1a2a;
  transition: ease 1s;
}

.error {
  text-align: left;
  margin-left: 25px;
  display: none;
}

.weather-icon {
  width: 10rem;
  margin: 0.1rem;
}

.weather {
  display: none;
  transition: 1s ease-in;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 1.2rem 0;
}

.humidity-icon,
.wind-icon {
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.weather h1 {
  font-size: 5rem;
}

.weather h2 {
  font-size: 2rem;
  padding: 0.5rem;
}

.icon-text {
  font-size: large;
}

@media (max-width: 450px) {
  .details {
    justify-content: space-between;
    align-items: center;
  }
}

