body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* padding: 20px; */
    height: 100vh;
    width: 100vw;
}

.container {
    /* max-width: 400px; */
    /* margin: auto; */
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #e2e2e2;
    margin-bottom: 5px;
    cursor: pointer;
}